<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="overlay">
    <div class="container">
        <h1>🌆 Neon City Registry</h1>

        <p>Cadastre sua identidade para acesso à rede da cidade</p>

        <form action="/adicionar" method="post">
            <input type="text" name="nome" placeholder="Digite seu codinome" required>
            <br>
            <button type="submit">Registrar</button>
        </form>

        <a href="/usuarios">Ver cidadãos registrados</a>
    </div>
</div>
</body>
</html>